button {
  display: block;
  color: white;
  border: none;
  border-radius: var(--button-border-radius);
  background-color: var(--dawn);
  width: var(--button-width);
  height: var(--button-height);
}